include ../_mixins/_all

block vars
  -title        = ''
  -description  = ''
  -keywords     = ''
  -pageID       = ''
  -path         = ''
  -slider       = ''
  -lightbox     = ''
  -count        = ''
doctype html
html(lang='vi')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title=title
    if slider == true 
    link(href=path+'assets/css/bootstrap.min.css' rel='stylesheet')
    link(rel='stylesheet' href=path+'assets/css/style.css')
    link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
  body
    include ../_modules/header
    main.l-main
      block container
    include ../_modules/footer
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js") 
    if slider == true 
      script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js") 
    script(src=path+"assets/js/common.js") 
    if lightbox == true 
      script(src=path+"assets/js/fslightbox.js") 
    if count == true   
      script(src=path+"assets/js/count.js") 
    block script
