extends _layout/default

block vars
  -title        = 'JHL Home'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
  -slider       = true
  -lightbox       = true

block container
  .swiper-container.swiper-banner
    // Additional required wrapper
    .swiper-wrapper
      // Slides
      .swiper-slide.c-slide
        picture
          source(srcset=path+'assets/images/about_slider.avif' type="image/avif")
          source(srcset=path+'assets/images/about_slider.webp' type="image/webp")
          img(src=path+'assets/images/about_slider.jpg' type="image/jpg" alt="ĐỊNH CƯ Canada")
        .row.position-absolute.c-slide__box
          .c-slide__inner
            .col-12 
              h3.c-slide__ttl GIỚI THIỆU VỀ JHL
              p.c-slide__txt Dựa trên nền tảng phát triển được xây dựng bởi mối quan hệ hợp tác nhiều năm với các hãng luật uy tín, kết hợp cùng quy trình tư vấn, xúc tiến hồ sơ chuyên nghiệp, JHL tự hào là công ty đi đầu trong lĩnh vực Du học - Du lịch & Định cư Mỹ và Canada cam kết chất lượng dịch vụ, đảm bảo uy tín hàng đầu.
              a.c-slide__btn.btn(href="#" ) Xem thêm
      .swiper-slide.c-slide
        picture
          source(srcset=path+'assets/images/about_slider.avif' type="image/avif")
          source(srcset=path+'assets/images/about_slider.webp' type="image/webp")
          img(src=path+'assets/images/about_slider.jpg' type="image/jpg" alt="ĐỊNH CƯ Canada")
        .row.position-absolute.c-slide__box
          .c-slide__inner
            .col-12 
              h3.c-slide__ttl GIỚI THIỆU VỀ JHL
              p.c-slide__txt Dựa trên nền tảng phát triển được xây dựng bởi mối quan hệ hợp tác nhiều năm với các hãng luật uy tín, kết hợp cùng quy trình tư vấn, xúc tiến hồ sơ chuyên nghiệp, JHL tự hào là công ty đi đầu trong lĩnh vực Du học - Du lịch & Định cư Mỹ và Canada cam kết chất lượng dịch vụ, đảm bảo uy tín hàng đầu.
              a.c-slide__btn.btn(href="#" ) Xem thêm
  .container.container__inner.padding-bottom
    section.c-intro.row.mt-5.align-items-center
      .col-12.mt-4.mb-5.padding-bottom
        p.c-intro__txt.mb-3 Không phải mọi giấc mơ đều trở thành sự thật, vì có những giấc mơ chỉ trở thành sự thật trong điều kiện lý tưởng. Với nền giáo dục và môi trường sống tiên tiến tại những quốc gia phát triển hàng đầu thế giới của Mỹ & Canada, JHL tin rằng sự nghiệp thành công và cuộc sống phồn thịnh không là mục tiêu nằm ngoài tầm với.
        p.c-intro__txt Thành lập từ năm 19          98, JHL tự hào được hợp tác với nhiều đơn vị đối tác uy tín quốc tế để trở thành cầu nối vững chắc giúp khách hàng hoàn thành kế hoạch an cư lập nghiệp, tận hưởng cuộc sống tuyệt vời với những quyền lợi được đảm bảo tối đa.
      .col-md-6
        h2.c-intro__ttl.ttl TẦM NHÌN & SỨ MỆNH JHL
        p.c-intro__txt JHL là công ty đi đầu về các dịch vụ tư vấn du học, du lịch & Định cư Mỹ, Canada tại Việt Nam. Với hơn 3+ năm phát triển cùng đội ngũ nhân viên giàu kinh nghiệm, JHL đã triển khai nhiều dự án định cư Mỹ EB-3, Định cư Canada diện lao động, tư vấn du lịch, du học uy tín và hiện thực hóa ước mơ cho nhiều khách hàng. Cũng chính vì vậy, JHL đã dần trở thành thương hiệu uy tín hàng đầu với tỷ lệ thành công xin visa Mỹ & Canada cao và nhanh chóng. 
        a.c-intro__btn.btn.mt-3(href="#" ) Xem thêm
      .col-md-6
        picture
          source(srcset=path+'assets/images/about01.avif' type="image/avif")
          source(srcset=path+'assets/images/about01.webp' type="image/webp") 
          img(src=path+'assets/images/about01.jpg' type="image/jpg" alt="TẦM NHÌN & SỨ MỆNH JHL")
      .row.mt-5.padding-top
        .col-md-6
          picture
            source(srcset=path+'assets/images/about02.avif' type="image/avif")
            source(srcset=path+'assets/images/about02.webp' type="image/webp") 
            img(src=path+'assets/images/about02.jpg' type="image/jpg" alt="TẦM NHÌN & SỨ MỆNH JHL")    
        .col-md-6
          h2.c-intro__ttl.ttl LIỆU BẠN CÓ ĐANG ...
          ul.c-intro__list
            li 
              span.c-intro__img
                img(src=path+'assets/images/i01.png', alt="")
              p E ngại hồ sơ di trú bị xử lý chậm, tốn kém nhiều thời gian do quy trình rề rà khi tự làm hồ sơ
            li 
              span.c-intro__img
                img(src=path+'assets/images/i02.png', alt="")
              p Lo lắng hồ sơ bị từ chối bởi các luật siết chặt di trú hiện hành hoặc những thời điểm bất ngờ 
            li
              span.c-intro__img
                img(src=path+'assets/images/i03.png', alt="")
              p Chưa có kinh nghiệm cho các buổi phỏng vấn cũng như quy trình làm thủ tục di trú
  section.c-value 
    .row 
      .col-md-10.col-12.mx-auto
        p.c-value__ttl ĐÓ CHÍNH LÀ LÝ DO JHL Ở ĐÂY VÀ TRỞ THÀNH NGƯỜI ĐỒNG HÀNH CÙNG BẠN HỘI NHẬP & AN CƯ QUỐC TẾ TẠI MỸ & CANADA 
  section.c-service
    .container.container__inner
      .row
        .col-12.padding-top 
          h2.c-service__ttl.ttl.mb-5.text-center DỊCH VỤ JHL ĐỒNG HÀNH CÙNG BẠN 
        .col-md-3.col-6
          .c-service__img 
            img(src=path+'assets/images/img_user.jpg', alt="")
          p Định cư Mỹ diện làm việc - EB3
        .col-md-3.col-6
          .c-service__img 
            img(src=path+'assets/images/img_user.jpg', alt="")
          p Định cư Canada - diện làm việc
        .col-md-3.col-6
          .c-service__img 
            img(src=path+'assets/images/img_user.jpg', alt="")
          p Tư vấn du học Mỹ & Canada
        .col-md-3.col-6
          .c-service__img 
            img(src=path+'assets/images/img_user.jpg', alt="")
          p Tư vấn du lịch Mỹ & Canada
        .col-12.mx-auto.text-center.mt-5
          a.c-slide__btn.btn(href="#" ) Xem thêm                               
  section.c-why
    .container.container__why
      .row
        .col-12
          h2.c-why__ttl.ttl.text-center VÌ SAO JHL ĐƯỢC KHÁCH HÀNG
            | <br>TIN TƯỞNG LỰA CHỌN
        .col-md-3.col-6
          p.c-why__num 2000+
          picture
            source(srcset=path+'assets/images/icon_note.webp' type="image/webp")
            img(src=path+'assets/images/icon_note.png' type="image/png" alt="Visa Đầu Tư Định Cư EB3 đã và đang được thụ lý")
          p.c-why__txt Visa Đầu Tư Định Cư EB3 đã và đang được thụ lý
        .col-md-3.col-6  
          p.c-why__num 600+
          picture
            source(srcset=path+'assets/images/icon_note.webp'  type="image/webp")
            img(src=path+'assets/images/icon__book.png' type="image/png" alt="Hồ sơ di trú thành công nộp vào Sở di trú Mỹ")
          p.c-why__txt Hồ sơ di trú thành công nộp vào Sở di trú Mỹ
        .col-md-3.col-6  
          p.c-why__num 1000+
          picture
            source(srcset=path+'assets/images/icon__partner.webp' type="image/webp")
            img(src=path+'assets/images/icon__partner.png' type="image/png" alt="Thường trú nhân và gia đình hiện thực hóa ước mơ định cư cùng JHL")
          p.c-why__txt Thường trú nhân và gia đình hiện thực hóa ước mơ định cư cùng JHL
        .col-md-3.col-6  
          p.c-why__num 6 tháng
          picture
            source(srcset=path+'assets/images/icon__time.webp' type="image/webp")
            img(src=path+'assets/images/icon__time.png' type="image/png" alt="Thời gian chấp nhận hồ sơ EB-3 kỷ lục") 
          p.c-why__txt  Thời gian chấp nhận hồ sơ EB-3 kỷ lục     
  section.c-jhl.padding-top
    .container.container__inner
      .row
        .col-10.mx-auto.text-center.mb-5
          h2.ttl.c-trust__ttl ĐÁNH GIÁ CỦA KHÁCH HÀNG JHL  
          p Với đội ngũ tư vấn hội nhập và an cư & Cái tâm - cái tầm của đội ngũ trợ lý pháp lý tại JHL, chúng tôi cam kết luôn cung cấp dịch vụ đáng tin cậy, chuyên nghiệp nhất cho khách hàng.  
        .col-md-3.col-6 
          img(src=path+'assets/images/ceo__01.jpg', alt="")
          p.c-jhl__ttl Mr. Johnny Le
          p.c-jhl__sub President/Founder
          p.c-jhl__txt (Chủ tịch/thành viên sáng lập JHL)
        .col-md-3.col-6 
          img(src=path+'assets/images/ceo__01.jpg', alt="")
          p.c-jhl__ttl Ms.Anna Ngoc Hong
          p.c-jhl__sub Vice President
          p.c-jhl__txt (Phó chủ tịch)        
        .col-md-3.col-6 
          img(src=path+'assets/images/ceo__01.jpg', alt="")
          p.c-jhl__ttl Ms. Dove Phuong Hoang
          p.c-jhl__sub Chief of Processing Department 
          p.c-jhl__txt (Trưởng Bộ Phận Xử Lý Hồ Sơ) 
        .col-md-3.col-6
          img(src=path+'assets/images/ceo__01.jpg', alt="")
          p.c-jhl__ttl Ms. Phoebe Phuong Pham
          p.c-jhl__sub Chief of Executive Officer 
          p.c-jhl__txt (Giám đốc điều hành)
        .col-12.mt-5
          a.c-jintro__link.m-link.justify-content-center(href="#" )
           |  Nhận tư vấn
           span.gg-play-button
  section.c-images
    .container.container__inner.padding-bottom 
      .c-images__inner 
        #gallery.gallery
          // Grid column
          a.mb-3.pics.animation.all(data-fslightbox href=path+'assets/images/img__box01.jpg')
            img.img-fluid(src=path+'assets/images/img__box01.jpg' alt='Card image cap')
          a.mb-3.pics.animation.all(data-fslightbox href=path+'assets/images/img_winner.jpg')
            img.img-fluid(src=path+'assets/images/img_winner.jpg' alt='Card image cap')
          a.mb-3.pics.animation.all(data-fslightbox href=path+'assets/images/diverse-workers.jpg')
            img.img-fluid(src=path+'assets/images/diverse-workers.jpg' alt='Card image cap')
          a.mb-3.pics.animation.all(data-fslightbox href=path+'assets/images/img__box04.jpg')
            img.img-fluid(src=path+'assets/images/img__box04.jpg' alt='Card image cap')
          a.mb-3.pics.animation.all(data-fslightbox href=path+'assets/images/img__box05.jpg')
            img.img-fluid(src=path+'assets/images/img__box05.jpg' alt='Card image cap')
          a.mb-3.pics.animation.all(data-fslightbox href=path+'assets/images/img__box06.jpg')
            img.img-fluid(src=path+'assets/images/img__box06.jpg' alt='Card image cap')
          a.mb-3.pics.animation.all(data-fslightbox href=path+'assets/images/img__box01.jpg')
            img.img-fluid(src=path+'assets/images/img__box01.jpg' alt='Card image cap')         
        .col-12.mt-4
          a.c-jintro__link.m-link.justify-content-center(href="#" )
           |  Ứng tuyển vào JHL
           span.gg-play-button
  section.c-trust
    .container
      .row
        .col-10.mx-auto.text-center.mb-5
          h2.ttl.c-trust__ttl ĐÁNH GIÁ CỦA KHÁCH HÀNG JHL     
        .swiper-container.customer-swiper.mt-4
          .swiper-wrapper
            .swiper-slide.text-center
              img.c-trust__img(src=path+'assets/images/customer_03.jpg' type="image/jpg")
              .c-trust__content.position-relative
                img.c-trust__tag.position-absolute(src=path+'assets/images/tag.png'  type="image/png")
                p.c-trust__name Nguyễn Thanh Toàn 
                p.c-trust__local Định cư EB-3
                p.c-trust__txt Cả gia đình tôi đã đến Mỹ được hơn 1 tháng mà tôi vẫn thấy lâng lâng vì vui sướng. Tôi có việc làm ngay khi đến đây và con tôi được đi học miễn phí. Các thủ tục mướn nhà, đăng ký việc làm, hòa nhập cộng đồng... đều được JHL quan tâm nhiệt tình. Thật sự cảm ơn JHL rất nhiều vì đã hỗ trợ gia đình tôi chu đáo.
            .swiper-slide.text-center
              img.c-trust__img(src=path+'assets/images/customer_03.jpg' type="image/jpg")
              .c-trust__content.position-relative
                img.c-trust__tag.position-absolute(src=path+'assets/images/tag.png'  type="image/png")
                p.c-trust__name Nguyễn Thanh Toàn 
                p.c-trust__local Định cư EB-3
                p.c-trust__txt Cả gia đình tôi đã đến Mỹ được hơn 1 tháng mà tôi vẫn thấy lâng lâng vì vui sướng. Tôi có việc làm ngay khi đến đây và con tôi được đi học miễn phí. Các thủ tục mướn nhà, đăng ký việc làm, hòa nhập cộng đồng... đều được JHL quan tâm nhiệt tình. Thật sự cảm ơn JHL rất nhiều vì đã hỗ trợ gia đình tôi chu đáo.
            .swiper-slide.text-center
              img.c-trust__img(src=path+'assets/images/customer_03.jpg' type="image/jpg")
              .c-trust__content.position-relative
                img.c-trust__tag.position-absolute(src=path+'assets/images/tag.png'  type="image/png")
                p.c-trust__name Nguyễn Thanh Toàn 
                p.c-trust__local Định cư EB-3
                p.c-trust__txt Cả gia đình tôi đã đến Mỹ được hơn 1 tháng mà tôi vẫn thấy lâng lâng vì vui sướng. Tôi có việc làm ngay khi đến đây và con tôi được đi học miễn phí. Các thủ tục mướn nhà, đăng ký việc làm, hòa nhập cộng đồng... đều được JHL quan tâm nhiệt tình. Thật sự cảm ơn JHL rất nhiều vì đã hỗ trợ gia đình tôi chu đáo.
          // Add Pagination
          .swiper-pagination    
  section.c-admin
   .container.container__inner.padding-bottom 
    .c-admin__inner
      .c-admin__img
        img(src=path+'assets/images/ceo__01.jpg', alt="ceo" type="image/jpg")
      .c-admin__content
        p.c-admin__ttl Mr. Johnny Le
        p.c-admin__sub President/Founder of JHL
        p.c-admin__txt “JHL phục vụ khách hàng với tâm thế của người bạn đồng hành tuyệt vời, cùng đi xuyên suốt quá trình di trú, linh hoạt và chuyên nghiệp trong xử lý vấn đề để mang lại những hiệu quả rõ rệt.”
block script

   