extends _layout/default

block vars
  -title        = 'Blog chi tiết - JHL Home'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
  -slider       = false

block container
  section.c-blog 
    .c-blog__banner 
      picture
        source(srcset=path+'assets/images/blog_detail.avif' type="image/avif" )
        source(srcset=path+'assets/images/blog_detail.webp' type="image/webp")
        img(src=path+'assets/images/blog_detail.jpg' type="image/jpg" alt="blog") 
    .c-breadcrumb.container.container__inner
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item
            a(href='#') Trang chủ
          li.breadcrumb-item
            a(href='#') Tin tức
          li.breadcrumb-item.active(aria-current='page') EB-3 – Visa định cư Mỹ diện lao động phổ thông
  section.c-content.container.container__inner
    .c-content__inner 
      h1 EB-3 – Visa định cư Mỹ diện lao động phổ thông
      .c-content__auth 
        img(src=path+'assets/images/ceo__01.jpg', alt="Lê Nhật Hào")
        span Lê Nhật Hào
        span 24/10/2020
        span 24/10/2020
      p Số lượng visa định cư Mỹ ngày càng nhiều vì các chính sách phúc lợi tốt của Mỹ. Visa làm việc tại Mỹ hiện chiếm số lượng không nhỏ trong tổng số visa định cư Mỹ. Điều này cho thấy nhu cầu làm việc và định cư Mỹ là khá cao. Visa lao động định cư Mỹ sẽ giải quyết thiếu hụt lao động tại Mỹ. Trong visa định cư Mỹ diện việc làm, đi Mỹ diện EB-3 (chương trình EB-3) đang tăng đều theo từng năm.
       |Visa EB-3 (Employment-Based Third) cung cấp lao động nước ngoài tới Mỹ làm việc. Do việc lao động Mỹ không đủ đáp ứng nhu cầu hoặc những ngành nghề đang thiếu hụt lao động. Từ đó lượng hồ sơ lao động định cư Mỹ tăng và việc đạt kết quả trở nên khó hơn.
       |Bài viết hôm nay sẽ giới thiệu về thông tin chương trình định cư Mỹ diện EB-3. Hãy cùng SKT tìm hiểu về chương trình EB-3 này nhé.  
      .toc_container
        p.toc_title Nội dung bài viết
        ul 
          li 
            a(href) Visa EB-3 là gì?
          li 
            a(href) Người xin cấp visa EB-3 cần đáp ứng những yêu cầu nào?
          li 
            a(href) Dịch vụ định cư EB-3 theo diện lao động của JHL
      h2 EB-3 – Visa định cư Mỹ diện lao động phổ thông    
      p Visa EB-3 là visa định cư, người xin cấp visa EB-3 sẽ có thẻ xanh để sống, làm việc tại Mỹ. Đối tượng của chương trình EB-3 bao gồm:
        |1. Lao động lành nghề;<br>
        |2. Chuyên gia; và<br>
        |3. Lao động phổ thông.<br>
        |Vợ/ chồng và con chưa kết hôn dưới 21 tuổi sẽ được đi theo và có thẻ xanh tương tự như người xin cấp visa EB-3. Vợ/ chồng của người xin cấp visa EB-3 muốn làm việc tại Mỹ phải xin Giấy phép lao động. Con chưa kết hôn dưới 21 tuổi sẽ được đi học tại các trường công lập của Mỹ với mức học phí tương tự dành cho công dân của Mỹ. (Xem thêm về chương trình định cư Mỹ theo diện kết hôn)<br>
        |Ngoài việc tranh cử được và bầu cử, người có thẻ xanh Mỹ được hưởng rất nhiều quyền lợi tương tự công dân Mỹ như: quyền lợi về chăm sóc sức khỏe, phúc lợi xã hội, được tự do đi lại đến các nước áp dụng miễn visa đối với Mỹ, có cơ hội xin nhập quốc tịch Mỹ. 
      blockquote Cùng nhau tạo nên những giá trị tuyệt vời tại JHL Tư vấn Du lịch, Du học & Định cư
      h2 Người xin cấp visa EB-3 cần đáp ứng những yêu cầu nào?
      p Đối với người lao động lành nghề: Thứ nhất, phải có giấy tờ chứng minh ít nhất 2 năm kinh nghiệm hoặc được trải qua đào tạo. Thứ hai, phải đảm nhận công việc mà lao động bản xứ không đủ điều kiện để làm việc được. Thứ ba, có Chứng nhận lao động PERM và thư tuyển dụng làm việc toàn thời gian tại Mỹ.<br>
        |Đối với chuyên gia: Thứ nhất, bằng đại học ở Mỹ hoặc bằng cấp tương đương ở nước ngoài; trường hợp này bắt buộc phải có bằng Đại học và không thể thay thế bởi các bằng cấp khác và kinh nghiệm làm việc. Thứ hai, phải đảm nhận công việc mà lao động bản xứ không đủ điều kiện. Thứ ba, phải có Chứng nhận lao động PERM và thư tuyển dụng làm việc tại công ty Mỹ.
      figure 
        img(src=path+'assets/images/post__img.jpg', alt="Đi Mỹ theo diện EB-3")
        figcaption Đi Mỹ theo diện EB-3
      p Đối với lao động phổ thông: Thứ nhất, có kinh nghiệm làm việc hoặc ít hơn 2 năm kinh nghiệm. Thứ hai, công việc đảm nhận là công việc mà người bản xứ không đủ điều kiện đáp ứng. Thứ ba, phải có Chứng nhận lao động PERM và thư tuyển dụng làm việc tại công ty Mỹ.
      h2 Dịch vụ định cư EB-3 theo diện lao động của JHL
      p JHL là hãng luật quốc tế với đội ngũ Luật sư và chuyên viên pháp lý dày dặn kinh nghiệm. Với kinh nghiệm và sự chuyên nghiệp của mình, chúng tôi tự hào đã hỗ trợ pháp lý cho nhiều khách hàng đi Mỹ diện EB-3 thành công.
        |Để biết thông tin, liên hệ JHL để được chúng tôi hỗ trợ.
  section.c-admin
      .c-admin__inner.container.container__inner.c-admin__border
        .c-admin__img
          img.rounded-circle(src=path+'assets/images/ceo__01.jpg', alt="ceo" type="image/jpg")
        .c-admin__content
          p.c-admin__ttl Lê Nhật Hào
          p.c-admin__sub CEO
          p.c-admin__queue Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec massa commodo, pretium enim gravida, pulvinar libero. Quisque leo eros, consequat id metus hendrerit, auctor viverra leo.     
          ul.d-flex.mt-2.mb-2.c-icon 
            li
              a(href="#")
                img(src="assets/images/logo-fb.png", alt="logo facebook")
            li 
              a.pl-4(href="#")
                img(src="assets/images/logo-tw.png", alt="logo tw")
            li 
              a.pl-4(href="#")
                img(src="assets/images/logo-yt.png", alt="logo youtube") 
  section.c-news.py-5.p-sm-3
    .container.container__inner
      .row
        .col-12
          h2.ttl.c-news__ttl.text-center.mb-5 TIN TỨC & SỰ KIỆN
        .col-md-4.col-6.mt-3
          .card.shadow-sm.m-lg-3.m-md-2
            img(src=path+'assets/images/news__img.jpg' type="image/jpg" alt="news")
            .card-body.p-md-4.p-2
              h4.c-news__name.mb-3 Lorem ipsum dolor sit amet consectetur adipiscing
              p.card-text.c-news__txt
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultricies turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .d-flex.justify-content-between.align-items-center.mt-4
                p.c-news__time 23, April 2021
                a.c-news__btn.btn(href="#" ) Xem thêm
        .col-md-4.col-6.mt-3
          .card.shadow-sm.m-lg-3.m-md-2
            img(src=path+'assets/images/news__img.jpg' type="image/jpg" alt="news")
            .card-body.p-md-4.p-2
              h4.c-news__name.mb-3 Lorem ipsum dolor sit amet consectetur adipiscing
              p.card-text.c-news__txt
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultricies turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .d-flex.justify-content-between.align-items-center.mt-4
                p.c-news__time 23, April 2021
                a.c-news__btn.btn(href="#" ) Xem thêm
        .col-md-4.col-6.mt-3.mx-auto
          .card.shadow-sm.m-lg-3.m-md-2
            img(src=path+'assets/images/news__img.jpg' type="image/jpg" alt="news")
            .card-body.p-md-4.p-2
              h4.c-news__name.mb-3 Lorem ipsum dolor sit amet consectetur adipiscing
              p.card-text.c-news__txt
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultricies turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .d-flex.justify-content-between.align-items-center.mt-4
                p.c-news__time 23, April 2021
                a.c-news__btn.btn(href="#" ) Xem thêm
  section.c-submit.py-5
    .container.container__inner
      .row.c-submit__shadow
        .col-md-7.p-0
          img(src=path+'assets/images/img-submit.jpg' type="image/jpg" alt="ĐĂNG KÝ NHẬN TƯ VẤN")
        .col-md-5.py-4.align-self-center
           .c-submit__inner
            p.c-submit__ttl.ttl ĐĂNG KÝ NHẬN TƯ VẤN
            form.mt-3.mb-3
              .form-group
                input.form-control(type='text' placeholder='Tên')
              .form-group
                input.form-control(type='text' placeholder='Email')
              .form-group
                input.form-control(type='text' placeholder='Số điện thoại')
            button.btn.mt-4.d-block.mx-auto(type='submit') Đăng ký    
block script

   