extends _layout/default

block vars
  -title        = 'Blog - JHL Home'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
  -slider       = false

block container
  .container.container__inner
    section.c-blog.row.mt-5.align-items-center.py-5
      .col-md-6
        h2.c-blog__ttl.ttl Cập nhật tin tức di trú và định cư nhanh nhất
        p.c-blog__txt Đăng ký để nhận thông báo về các tin tức mới nhất liên quan đến du lịch, du học và định cư nhé!
        form.mt-4.mb-4.c-blog__form
          .form-row
            .col
              input.form-control.col-10(type='text' placeholder='*Nhập email tại đây')
              a.c-blog__btn.btn.mt-4(href="#" ) Đăng ký
      .col-md-6
        picture
          source(srcset=path+'assets/images/blog__img01.avif' type="image/avif")
          source(srcset=path+'assets/images/blog__img01.webp' type="image/webp") 
          img(src=path+'assets/images/blog__img01.jpg' type="image/jpg" alt="JHL TUYỂN DỤNG")
    section.c-list.mt-4
      .row
        .col-10.c-list__item
          .c-list__inner
            .c-list__img
              img(src=path+'assets/images/img_news.jpg' type="image/jpg" alt="JHL TUYỂN DỤNG")
            .c-list__content
              p.c-list__sub KIẾN THỨC ĐỊNH CƯ
              h5.c-list__ttl 7 việc cần làm khi mới đến Canada
              p.c-list__txt Nên tham quan cảnh đẹp tại "đất nước lá phong" hay đăng ký với Hiệp Hội Những người mới định cư đến Canada, làm thủ tục xin cấp Sổ bảo hiểm? 
              p.c-list__author Nguyen Van A
                span on Oct 24th, 2020
        .col-10.c-list__item
          .c-list__inner
            .c-list__img
              img(src=path+'assets/images/img_news.jpg' type="image/jpg" alt="JHL TUYỂN DỤNG")
            .c-list__content
              p.c-list__sub KIẾN THỨC ĐỊNH CƯ
              h5.c-list__ttl 7 việc cần làm khi mới đến Canada
              p.c-list__txt Nên tham quan cảnh đẹp tại "đất nước lá phong" hay đăng ký với Hiệp Hội Những người mới định cư đến Canada, làm thủ tục xin cấp Sổ bảo hiểm? 
              p.c-list__author Nguyen Van A
                span on Oct 24th, 2020
        .col-10.c-list__item
          .c-list__inner
            .c-list__img
              img(src=path+'assets/images/img_news.jpg' type="image/jpg" alt="JHL TUYỂN DỤNG")
            .c-list__content
              p.c-list__sub KIẾN THỨC ĐỊNH CƯ
              h5.c-list__ttl 7 việc cần làm khi mới đến Canada
              p.c-list__txt Nên tham quan cảnh đẹp tại "đất nước lá phong" hay đăng ký với Hiệp Hội Những người mới định cư đến Canada, làm thủ tục xin cấp Sổ bảo hiểm? 
              p.c-list__author Nguyen Van A
                span on Oct 24th, 2020                                
    section.c-news.is_blog.py-5.p-sm-3
      .container
        .row 
          .col-12
              h2.ttl.c-news__ttl.text-left.mt-4 CẬP NHẬT TIN TỨC MỚI
        .row.row-eq-height
          .col-md-4.col-6.mt-3
            .card.shadow-sm.m-lg-3.m-md-2
              img(src=path+'assets/images/img_news.jpg' type="image/jpg" alt="news")
              .card-body.p-md-4.p-2
                h4.c-news__name.mb-3 10 nơi có chi phí sinh hoạt rẻ nhất cho người định cư Hoa Kỳ
                p.card-text.c-news__txt
                  | Tận hưởng cuộc sống thoải mái tại tiểu bang Mỹ với chi phí không hề đắt đỏ, tại sao không?
                .d-flex.justify-content-between.align-items-center.mt-auto
                  p.c-news__time 
                    span 23, April 2021
                  a.c-news__btn.btn(href="#" ) Xem thêm
          .col-md-4.col-6.mt-3
            .card.shadow-sm.m-lg-3.m-md-2
              img(src=path+'assets/images/img_news.jpg' type="image/jpg" alt="news")
              .card-body.p-md-4.p-2
                h4.c-news__name.mb-3 5 Cách định cư Canada
                p.card-text.c-news__txt
                  | Chọn cách định cư Canada phù hợp với điều kiện và mục tiêu di trú của bạn qua bài viết này.
                .d-flex.justify-content-between.align-items-center.mt-auto
                  p.c-news__time 
                    span 23, April 2021
                  a.c-news__btn.btn(href="#" ) Xem thêm
          .col-md-4.col-6.mt-3.mx-auto
            .card.shadow-sm.m-lg-3.m-md-2
              img(src=path+'assets/images/img_news.jpg' type="image/jpg" alt="news")
              .card-body.p-md-4.p-2
                h4.c-news__name.mb-3 Lorem ipsum dolor sit amet consectetur adipiscing
                p.card-text.c-news__txt
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultricies turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .d-flex.justify-content-between.align-items-center.mt-auto
                  p.c-news__time 
                    span 23, April 2021
                  a.c-news__btn.btn(href="#" ) Xem thêm
          .col-md-4.col-6.mt-3.mx-auto
            .card.shadow-sm.m-lg-3.m-md-2
              img(src=path+'assets/images/img_news.jpg' type="image/jpg" alt="news")
              .card-body.p-md-4.p-2
                h4.c-news__name.mb-3 Lorem ipsum dolor sit amet consectetur adipiscing
                p.card-text.c-news__txt
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultricies turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .d-flex.justify-content-between.align-items-center.mt-auto
                  p.c-news__time 
                    span 23, April 2021
                  a.c-news__btn.btn(href="#" ) Xem thêm
          .col-md-4.col-6.mt-3.mx-auto
            .card.shadow-sm.m-lg-3.m-md-2
              img(src=path+'assets/images/img_news.jpg' type="image/jpg" alt="news")
              .card-body.p-md-4.p-2
                h4.c-news__name.mb-3 Lorem ipsum dolor sit amet consectetur adipiscing
                p.card-text.c-news__txt
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultricies turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .d-flex.justify-content-between.align-items-center.mt-auto
                  p.c-news__time 
                    span 23, April 2021
                  a.c-news__btn.btn(href="#" ) Xem thêm
          .col-md-4.col-6.mt-3.mx-auto
            .card.shadow-sm.m-lg-3.m-md-2
              img(src=path+'assets/images/img_news.jpg' type="image/jpg" alt="news")
              .card-body.p-md-4.p-2
                h4.c-news__name.mb-3 Lorem ipsum dolor sit amet consectetur adipiscing
                p.card-text.c-news__txt
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultricies turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .d-flex.justify-content-between.align-items-center.mt-auto
                  p.c-news__time 
                    span 23, April 2021
                  a.c-news__btn.btn(href="#" ) Xem thêm
          .col-md-4.col-6.mt-3.mx-auto
            .card.shadow-sm.m-lg-3.m-md-2
              img(src=path+'assets/images/img_news.jpg' type="image/jpg" alt="news")
              .card-body.p-md-4.p-2
                h4.c-news__name.mb-3 Lorem ipsum dolor sit amet consectetur adipiscing
                p.card-text.c-news__txt
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultricies turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .d-flex.justify-content-between.align-items-center.mt-auto
                  p.c-news__time 
                    span 23, April 2021
                  a.c-news__btn.btn(href="#" ) Xem thêm
          .col-md-4.col-6.mt-3.mx-auto
            .card.shadow-sm.m-lg-3.m-md-2
              img(src=path+'assets/images/img_news.jpg' type="image/jpg" alt="news")
              .card-body.p-md-4.p-2
                h4.c-news__name.mb-3 Lorem ipsum dolor sit amet consectetur adipiscing
                p.card-text.c-news__txt
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultricies turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .d-flex.justify-content-between.align-items-center.mt-auto
                  p.c-news__time 
                    span 23, April 2021
                  a.c-news__btn.btn(href="#" ) Xem thêm
          .col-md-4.col-6.mt-3.mx-auto
            .card.shadow-sm.m-lg-3.m-md-2
              img(src=path+'assets/images/img_news.jpg' type="image/jpg" alt="news")
              .card-body.p-md-4.p-2
                h4.c-news__name.mb-3 Lorem ipsum dolor sit amet consectetur adipiscing
                p.card-text.c-news__txt
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultricies turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .d-flex.justify-content-between.align-items-center.mt-auto
                  p.c-news__time 
                    span 23, April 2021
                  a.c-news__btn.btn(href="#" ) Xem thêm                                                                                                            
        .row 
          .col-12 
            nav.c-pagination(aria-label='Page navigation example')
              ul.pagination.justify-content-center
                li.page-item
                  a.page-link(href='#') Previous
                li.page-item
                  a.page-link(href='#') 1
                li.page-item
                  a.page-link(href='#') 2
                li.page-item
                  a.page-link(href='#') 3
                li.page-item
                  a.page-link(href='#') Next

block script

   