extends _layout/default

block vars
  -title        = 'Blog chi tiết - JHL Home'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
  -slider       = false

block container
  section.c-blog 
    .c-blog__banner 
      picture
        source(srcset=path+'assets/images/winner__detail.avif' type="image/avif" )
        source(srcset=path+'assets/images/winner__detail.webp' type="image/webp")
        img(src=path+'assets/images/winner__detail.jpg' type="image/jpg" alt="blog") 
    .c-breadcrumb.container.container__inner
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item
            a(href='#') Trang chủ
          li.breadcrumb-item
            a(href='#') Câu chuyện thành công
          li.breadcrumb-item.active(aria-current='page') Mr.Hoàng hiện thực hóa Giấc mơ Mỹ cùng JHL
  section.c-content.container.container__inner
    .c-content__inner 
      .c-blog__winner
        .c-blog__winner--img 
          img(src=path+'assets/images/img_user.jpg', alt="")
        .c-blog__winner--content
          .ttl.c-blog__winner--ttl Mr. Hoàng hiện thực hóa giấc mơ Mỹ cùng JHL
          .c-blog__winner--time - Thời gian: 1 năm
          .c-blog__winner--project  - Dự án định cư EB3
      p Hẳn ai trong chúng ta cũng từng 1 lần nghe nói đến “Giấc mơ Mỹ”. Đó là 1 viễn cảnh tươi đẹp mở đường cho một tương lai ổn định với sự phát triển vượt bậc. Liệu rằng giấc mơ đó sẽ thành hiện thực hay nó sẽ đổ vỡ trở thành 1 cơn ác mộng tồi tệ, tất cả là do sự lựa chọn của bạn. 
        |
      p  Công ty JHL của chúng tôi trong quá trình hoạt động đã không ít lần hỗ trợ các anh/chị, những công nhân viên đã có công việc là ổn định nhưng vẫn mong muốn định cư nước ngoài để thực hiện “Giấc mơ Mỹ” của bản thân mình thông qua chương trình EB3.
        |
      p  Vào đầu tháng 9 năm 2019, anh Huỳnh đã đến với công ty chúng tôi vì muốn thực hiện hóa ước mơ định cư và phát triển sự nghiệp của bản thân mình tại Mỹ. Như chia sẻ của anh về bản thân:
        |
      p  Hiện tại, anh đang làm công việc văn phòng tại quận 1 thành phố Hồ Chí Minh. Mặc dù anh không có gia đình hay người thân ở Mỹ nhưng cá nhân anh đã tự nhận biết được những điểm vượt trội khi định cư và làm việc ở nước ngoài. 
        |
      p  Vì lẽ đó, anh hiện tại vẫn còn độc thân để có thể phát triển sự nghiệp một cách tốt nhất. Anh biết đến quý công ty là do một lần tình cờ tìm kiếm thông tin trên Facebook. Từ đó, anh thấy được website chính thức của công ty và thông tin liên lạc cụ thể tại đây. 
        |
      p  Trước khi quyết định liên hệ công ty, anh đã có xem các bài tin tức và thông tin về quá trình thực hiện hồ sơ được đăng tải trên website một cách đầy đủ. Sau đó, anh đã liên hệ công ty để nhận tư vấn cụ thể hơn về trường hợp của mình.
    
  section.c-news.py-5.p-sm-3
    .container.container__inner
      .row.mb-5
        .col-12
          h2.ttl.c-news__ttl.text-center.mb-5.mt-5 THAM KHẢO MỘT SỐ CÂU CHUYỆN <br class="d-md-block d-none"> THÀNH CÔNG KHÁC
        .col-md-4.col-12.mt-5
          .card.shadow-sm.m-lg-3.m-md-2
            img(src=path+'assets/images/news__img.jpg' type="image/jpg" alt="news")
            .card-body.p-md-4.p-2
              h4.c-news__name.mb-3 Lorem ipsum dolor sit amet consectetur adipiscing
              p.card-text.c-news__txt
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultricies turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .d-flex.justify-content-center.align-items-center.mt-4
                a.c-news__btn.btn(href="#" ) Xem thêm
        .col-md-4.col-12.mt-5
          .card.shadow-sm.m-lg-3.m-md-2
            img(src=path+'assets/images/news__img.jpg' type="image/jpg" alt="news")
            .card-body.p-md-4.p-2
              h4.c-news__name.mb-3 Lorem ipsum dolor sit amet consectetur adipiscing
              p.card-text.c-news__txt
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultricies turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .d-flex.justify-content-center.align-items-center.mt-4
                a.c-news__btn.btn(href="#" ) Xem thêm
        .col-md-4.col-12.mt-5
          .card.shadow-sm.m-lg-3.m-md-2
            img(src=path+'assets/images/news__img.jpg' type="image/jpg" alt="news")
            .card-body.p-md-4.p-2
              h4.c-news__name.mb-3 Lorem ipsum dolor sit amet consectetur adipiscing
              p.card-text.c-news__txt
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultricies turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .d-flex.justify-content-center.align-items-center.mt-4
                a.c-news__btn.btn(href="#" ) Xem thêm  
block script

   