extends _layout/default

block vars
  -title        = 'JHL Home'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
  -slider       = true

block container
  .swiper-container
    // Additional required wrapper
    .swiper-wrapper
      // Slides
      .swiper-slide.c-slide
        picture
          source(srcset=path+'assets/images/dinh-cu-my-en-3.avif')
          source(srcset=path+'assets/images/dinh-cu-my-en-3.webp')
          img(src=path+'assets/images/dinh-cu-my-en-3.jpg' alt="ĐỊNH CƯ Canada")
        .row.position-absolute.c-slide__box
          .c-slide__inner
            .col-12 
              h3.c-slide__ttl ĐỊNH CƯ MỸ EB-3
              p.c-slide__txt Trở thành công dân cường quốc Mỹ theo hình thức chuyên gia hoặc lao động với công việc dài hạn, chương trình an cư "hậu di trú" uy tín, đảm bảo cho thường trú nhân gia đình những quyền lợi tốt nhất 
              a.c-slide__btn.btn(href="#" ) Xem thêm
      .swiper-slide
        picture
          source(srcset=path+'assets/images/dinh-cu-canada.avif')
          source(srcset=path+'assets/images/dinh-cu-canada.webp')
          img(src=path+'assets/images/dinh-cu-canada.jpg' alt="ĐỊNH CƯ MỸ EB-3")
        .row.position-absolute.c-slide__box
          .c-slide__inner
            .col-12 
              h3.c-slide__ttl ĐỊNH CƯ MỸ EB-3
              p.c-slide__txt Trở thành công dân cường quốc Mỹ theo hình thức chuyên gia hoặc lao động với công việc dài hạn, chương trình an cư "hậu di trú" uy tín, đảm bảo cho thường trú nhân gia đình những quyền lợi tốt nhất 
              a.c-slide__btn.btn(href="#" ) Xem thêm
  .container
    section.c-intro.row.mt-5
      .col-md-6
        h2.c-intro__ttl GIỚI THIỆU VỀ JHL 
        p.c-intro__txt Dựa trên nền tảng phát triển được xây dựng bởi mối quan hệ 
        | hợp tác nhiều năm với các hãng luật uy tín, kết hợp cùng quy trình tư vấn,
        | xúc tiến hồ sơ chuyên nghiệp, JHL tự hào là công ty đi đầu trong lĩnh vực 
        | Du học - Du lịch & Định cư Mỹ và Canada cam kết chất lượng dịch vụ, đảm bảo 
        |uy tín hàng đầu.
      .col-md-6
        picture
          source(srcset=path+'assets/images/diverse-workers.avif')
          source(srcset=path+'assets/images/diverse-workers.webp')
          img(src=path+'assets/images/diverse-workers.jpg' alt="GIỚI THIỆU VỀ JHL ")
    section.c-customer.row.mt-5
      .col-12
        h2.c-customer__ttl QUYỀN LỢI KHÁCH HÀNG LÀ ƯU TIÊN HÀNG ĐẦU TẠI JHL 
        | <br> HÀNG ĐẦU TẠI JHL
        p.c-customer__txt Với tiêu chuẩn không thỏa hiệp, JHL là người bạn đồng 
        | hành đáng tin cậy trong quá trình hội nhập và an cư tại nước ngoài, cam
        | kết đem lại cho thường trú nhân và gia đình công việc ổn định, hưởng toàn
        | bộ phúc lợi xã hội và nền y tế, giáo dục hàng đầu tại Mỹ & Canada.
      .row
       .col-md-6 
        picture
          source(srcset=path+'assets/images/diverse-workers.avif')
          source(srcset=path+'assets/images/diverse-workers.webp')
          img(src=path+'assets/images/diverse-workers.jpg' alt="GIỚI THIỆU VỀ JHL ") 
       .col-md-6 
        picture
          source(srcset=path+'assets/images/diverse-workers.avif')
          source(srcset=path+'assets/images/diverse-workers.webp')
          img(src=path+'assets/images/diverse-workers.jpg' alt="GIỚI THIỆU VỀ JHL ")  
      .row
        .col-md-4.col-6
          icture
            source(srcset=path+'assets/images/diverse-workers.avif')
            source(srcset=path+'assets/images/diverse-workers.webp')
            img(src=path+'assets/images/diverse-workers.jpg' alt="GIỚI THIỆU VỀ JHL ")
        .col-md-4.col-6
          icture
            source(srcset=path+'assets/images/diverse-workers.avif')
            source(srcset=path+'assets/images/diverse-workers.webp')
            img(src=path+'assets/images/diverse-workers.jpg' alt="GIỚI THIỆU VỀ JHL ") 
        .col-md-4.col-6
          icture
            source(srcset=path+'assets/images/diverse-workers.avif')
            source(srcset=path+'assets/images/diverse-workers.webp')
            img(src=path+'assets/images/diverse-workers.jpg' alt="GIỚI THIỆU VỀ JHL ")       
  .container-fluid
    section.c-why
      .container
        .row
          .col-12
            h2.c-why__ttl VÌ SAO JHL ĐƯỢC KHÁCH HÀNG
            | TIN TƯỞNG LỰA CHỌN
          .col-md-4.col-6
            p.c-why__num 2000+
            img.c-why__icon(src="", alt="")  
block script

   