extends _layout/default

block vars
  -title        = 'JHL Home'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
  -slider       = true

block container
  .m-slider        
    .m-slider__item
      .m-slider__inner
        picture
          source(srcset=path+'assets/images/home_slider.avif' type="image/avif")
          source(srcset=path+'assets/images/home_slider.webp' type="image/webp")
          img(src=path+'assets/images/home_slider.jpg' type="image/jpg" alt="ĐỊNH CƯ Canada")
        .m-slider__content
          h3.m-slider__ttl ĐỊNH CƯ MỸ EB-3
          p.m-slider__txt Trở thành công dân cường quốc Mỹ theo hình thức chuyên gia hoặc lao động với công việc dài hạn, chương trình an cư "hậu di trú" uy tín, đảm bảo cho thường trú nhân gia đình những quyền lợi tốt nhất
          a.m-slider__btn.btn(href="#" ) Xem thêm              
    .m-slider__item
      .m-slider__inner
        picture
          source(srcset=path+'assets/images/home_slider.avif' type="image/avif")
          source(srcset=path+'assets/images/home_slider.webp' type="image/webp")
          img(src=path+'assets/images/home_slider.jpg' type="image/jpg" alt="ĐỊNH CƯ Canada")
        .m-slider__content
          h3.m-slider__ttl ĐỊNH CƯ MỸ EB-3
          p.m-slider__txt Trở thành công dân cường quốc Mỹ theo hình thức chuyên gia hoặc lao động với công việc dài hạn, chương trình an cư "hậu di trú" uy tín, đảm bảo cho thường trú nhân gia đình những quyền lợi tốt nhất
          a.m-slider__btn.btn(href="#" ) Xem thêm    

  .m-call 
    .container
      p FOR A FREE CASE EVALUATION
        strong , CALL (+84) 887-7839 
  .container.container__inner
    section.c-ihome.row.mt-4
      .col-md-6
        .c-ihome__content
          p.c-ihome__tag Giới thiệu
          h2.c-ihome__ttl.ttl GIỚI THIỆU VỀ JHL 
          p.c-ihome__txt Dựa trên nền tảng phát triển được xây dựng bởi mối quan hệ hợp tác nhiều năm với các hãng luật uy tín, kết hợp cùng quy trình tư vấn,
           | xúc tiến hồ sơ chuyên nghiệp, JHL tự hào là công ty đi đầu trong lĩnh vực 
           | Du học - Du lịch & Định cư Mỹ và Canada cam kết chất lượng dịch vụ, đảm bảo 
           |uy tín hàng đầu.
          a.c-ihome__btn.btn.mt-3(href="#" ) Tìm hiểu thêm
      .col-md-6
        .c-ihome__inner 
          .c-ihome__ttl02 CÁC DỊCH VỤ CỦA CHÚNG TÔI
          ul.c-ihome__box 
            li CÁC DỊCH VỤ
            li CÁC DỊCH VỤ
            li CÁC DỊCH VỤ
            li CÁC DỊCH VỤ
            
    section.m-interest
      .m-interest__inner
        .m-interest__content
          .m-interest__ttl QUYỀN LỢI KHÁCH HÀNG LÀ ƯU TIÊN HÀNG ĐẦU TẠI JHL 
          .m-interest__txt Với tiêu chuẩn không thỏa hiệp, JHL là người bạn đồng hành đáng tin cậy trong quá trình hội nhập và an cư tại nước ngoài, cam kết đem lại cho thường trú nhân và gia đình công việc ổn định, hưởng toàn bộ phúc lợi xã hội và nền y tế, giáo dục hàng đầu tại Mỹ & Canada.
        ul 
          li 
            p QUI TRÌNH XÚC TIẾN HỒ SƠ NHANH CHÓNG
          li 
            p TƯ VẤN ĐỊNH CƯ THẲNG THẮN VÀ MINH BẠCH
          li 
            p DỊCH VỤ AN CƯ TẬN TÂM TRỌN ĐỜI  
        ul    
          li 
            p ĐẢM BẢO QUYỀN LỢI BỞI LUẬT LAO ĐỘNG QUỐC GIA
          li 
            p CHÍNH SÁCH HOÀN TIỀN HẠN CHẾ RỦI RO                          
  section.c-whome       
    .container.c-whome__container
      .row
        .col-12
          h2.c-whome__ttl.ttl.text-lg-left.text-center VÌ SAO JHL ĐƯỢC KHÁCH HÀNG
            <br class='onlypc'> TIN TƯỞNG LỰA CHỌN
        .col-md-6
          .c-whome__item
            picture
              source(srcset=path+'assets/images/icon_group01.webp' type="image/webp")
              img(src=path+'assets/images/icon_group01.png' type="image/png" alt="Visa Đầu Tư Định Cư EB3 đã và đang được thụ lý")
            .c-whome__content
              p.c-whome__num 2000+
              p.c-whome__txt Visa Đầu Tư Định Cư EB3 đã và đang được thụ lý
        .col-md-6
          .c-whome__item
            picture
              source(srcset=path+'assets/images/icon_group02.webp' type="image/webp")
              img(src=path+'assets/images/icon_group01.png' type="image/png" alt="Visa Đầu Tư Định Cư EB3 đã và đang được thụ lý")
            .c-whome__content
              p.c-whome__num 600+
              p.c-whome__txt Hồ sơ di trú thành công nộp vào Sở di trú Mỹ
        .col-md-6.mt-5
          .c-whome__item
            picture
              source(srcset=path+'assets/images/icon_group03.webp' type="image/webp")
              img(src=path+'assets/images/icon_group01.png' type="image/png" alt="Visa Đầu Tư Định Cư EB3 đã và đang được thụ lý")
            .c-whome__content
              p.c-whome__num 1000+
              p.c-whome__txt Thường trú nhân và gia đình hiện thực hóa ước mơ định cư cùng JHL
        .col-md-6.mt-5
          .c-whome__item
            picture
              source(srcset=path+'assets/images/icon_group04.webp' type="image/webp")
              img(src=path+'assets/images/icon_group01.png' type="image/png" alt="Visa Đầu Tư Định Cư EB3 đã và đang được thụ lý")
            .c-whome__content
              p.c-whome__num 6 tháng
              p.c-whome__txt Thời gian chấp nhận hồ sơ EB-3 kỷ lục   
  section.c-benefit
    .container.container__inner
      .c-benefit__inner 
        h2.c-benefit__ttl.ttl.text-center QUYỀN LỢI CỦA KHÁCH HÀNG LÀ ƯU 
          | <br class="onlypc"> TIÊN HÀNG ĐẦU CỦA JHL
        .c-benefit__list          
          .c-benefit__item
            img.c-benefit__avt(src=path+'assets/images/news__img.jpg' type="image/jpg" alt="news")
            p.c-benefit__name Đặng Phú Mỹ
            p.c-benefit__local Định cư Canada
            p.c-benefit__txt Tư vấn chuẩn chất lượng dịch vụ 5 sao, tôi rất hài lòng về dịch vụ ở JHL. Đội ngũ tư vấn chắc hẳn đều là chuyên gia, các bạn tư vấn và xử lý hồ sơ rất chuyên nghiệp. Tôi nhất định sẽ giới thiệu JHL cho người thân hoặc bạn bè khi họ có ý định đi định cư.
            ul.c-benefit__start 
              li 
                img(src=path+'assets/images/icon_start.png', alt="")
              li 
                img(src=path+'assets/images/icon_start.png', alt="")
              li 
                img(src=path+'assets/images/icon_start.png', alt="")
              li 
                img(src=path+'assets/images/icon_start.png', alt="")
              li 
                img(src=path+'assets/images/icon_start.png', alt="")
          .c-benefit__item
            img.c-benefit__avt(src=path+'assets/images/news__img.jpg' type="image/jpg" alt="news")
            p.c-benefit__name Đặng Phú Mỹ
            p.c-benefit__local Định cư Canada
            p.c-benefit__txt Tư vấn chuẩn chất lượng dịch vụ 5 sao, tôi rất hài lòng về dịch vụ ở JHL. Đội ngũ tư vấn chắc hẳn đều là chuyên gia, các bạn tư vấn và xử lý hồ sơ rất chuyên nghiệp. Tôi nhất định sẽ giới thiệu JHL cho người thân hoặc bạn bè khi họ có ý định đi định cư.
            ul.c-benefit__start 
              li 
                img(src=path+'assets/images/icon_start.png', alt="")
              li 
                img(src=path+'assets/images/icon_start.png', alt="")
              li 
                img(src=path+'assets/images/icon_start.png', alt="")
              li 
                img(src=path+'assets/images/icon_start.png', alt="")
              li 
                img(src=path+'assets/images/icon_start.png', alt="")          
          .c-benefit__item
            img.c-benefit__avt(src=path+'assets/images/news__img.jpg' type="image/jpg" alt="news")
            p.c-benefit__name Đặng Phú Mỹ
            p.c-benefit__local Định cư Canada
            p.c-benefit__txt Tư vấn chuẩn chất lượng dịch vụ 5 sao, tôi rất hài lòng về dịch vụ ở JHL. Đội ngũ tư vấn chắc hẳn đều là chuyên gia, các bạn tư vấn và xử lý hồ sơ rất chuyên nghiệp. Tôi nhất định sẽ giới thiệu JHL cho người thân hoặc bạn bè khi họ có ý định đi định cư.
            ul.c-benefit__start 
              li 
                img(src=path+'assets/images/icon_start.png', alt="")
              li 
                img(src=path+'assets/images/icon_start.png', alt="")
              li 
                img(src=path+'assets/images/icon_start.png', alt="")
              li 
                img(src=path+'assets/images/icon_start.png', alt="")
              li 
                img(src=path+'assets/images/icon_start.png', alt="")    
          .c-benefit__item
            img.c-benefit__avt(src=path+'assets/images/news__img.jpg' type="image/jpg" alt="news")
            p.c-benefit__name Đặng Phú Mỹ
            p.c-benefit__local Định cư Canada
            p.c-benefit__txt Tư vấn chuẩn chất lượng dịch vụ 5 sao, tôi rất hài lòng về dịch vụ ở JHL. Đội ngũ tư vấn chắc hẳn đều là chuyên gia, các bạn tư vấn và xử lý hồ sơ rất chuyên nghiệp. Tôi nhất định sẽ giới thiệu JHL cho người thân hoặc bạn bè khi họ có ý định đi định cư.
            ul.c-benefit__start 
              li 
                img(src=path+'assets/images/icon_start.png', alt="")
              li 
                img(src=path+'assets/images/icon_start.png', alt="")
              li 
                img(src=path+'assets/images/icon_start.png', alt="")
              li 
                img(src=path+'assets/images/icon_start.png', alt="")
              li 
                img(src=path+'assets/images/icon_start.png', alt="")          
                     
  section.m-story.mb-5
    .container
      .m-story__ttl.ttl.text-center.mt-5.mb-5 MỘT SỐ CÂU CHUYỆN CỦA KHÁCH HÀNG
      .row 
        .col-lg-4.col-md-6.col-12
          a(href)
            .m-story__item(style={
                'background-image': 'url(../assets/images/user01.jpg)',
              })
              h3 Mrs. Hạnh định cư cùng gia đình, đạt được nguyện vọng du học Canada
        .col-lg-4.col-md-6.col-12
          a(href)
            .m-story__item(style={
                'background-image': 'url(../assets/images/user01.jpg)',
              })
              h3 Mrs. Hạnh định cư cùng gia đình, đạt được nguyện vọng du học Canada
        .col-lg-4.col-md-6.col-12.mx-md-auto
          a(href)
            .m-story__item(style={
                'background-image': 'url(../assets/images/user01.jpg)',
              })
              h3 Mrs. Hạnh định cư cùng gia đình, đạt được nguyện vọng du học Canada                          

  section.c-news.py-5.p-sm-3
    .container
      .row
        .col-12
          h2.ttl.c-news__ttl.text-center.mb-5 TIN TỨC & SỰ KIỆN
        .col-lg-4.col-md-6.mt-md-3.mt-5
          .card.shadow-sm
            img(src=path+'assets/images/news__img.jpg' type="image/jpg" alt="news")
            .card-body.p-md-4.p-2
              h4.c-news__name.mb-3 Lorem ipsum dolor sit amet consectetur adipiscing
              p.card-text.c-news__txt
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultricies turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .d-flex.justify-content-between.align-items-center.mt-4
                p.c-news__time 
                  span 23, April 2021
                a.c-news__btn.btn(href="#" ) Xem thêm
        .col-lg-4.col-md-6.mt-md-3.mt-5
          .card.shadow-sm
            img(src=path+'assets/images/news__img.jpg' type="image/jpg" alt="news")
            .card-body.p-md-4.p-2
              h4.c-news__name.mb-3 Lorem ipsum dolor sit amet consectetur adipiscing
              p.card-text.c-news__txt
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultricies turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .d-flex.justify-content-between.align-items-center.mt-4
                p.c-news__time 
                  span 23, April 2021
                a.c-news__btn.btn(href="#" ) Xem thêm
        .col-lg-4.col-md-6.mt-md-3.mt-5.mx-auto
          .card.shadow-sm
            img(src=path+'assets/images/news__img.jpg' type="image/jpg" alt="news")
            .card-body.p-md-4.p-2
              h4.c-news__name.mb-3 Lorem ipsum dolor sit amet consectetur adipiscing
              p.card-text.c-news__txt
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultricies turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .d-flex.justify-content-between.align-items-center.mt-4
                p.c-news__time 
                  span 23, April 2021
                a.c-news__btn.btn(href="#" ) Xem thêm
  section.c-help
    .container.c-help__border
      h3.c-help__ttl.ttl TƯ VẤN MIỄN PHÍ
        form
          .form-row
            .form-group.col-md-6
              input.form-control(type='text' placeholder='First Name')
            .form-group.col-md-6
              input.form-control(type='text' placeholder='Last Name')
          .form-row
            .form-group.col-md-6
              input.form-control(type='number' placeholder='Phone')
            .form-group.col-md-6
              input.form-control(type='email' placeholder='Email')
          .form-row
            .form-group.col-12
              input.form-control(type='text' placeholder='Are you new clients?')
          .form-row
            .form-group.col-12
              textarea.form-control(type='text' placeholder='Message' rows="5")
          button.btn.btn-primary(type='Đăng ký') Đăng ký

                    
block script
  script.
    $(document).ready(function(){
      $(".m-slider").slick({
        autoplay:true,
        autoplaySpeed:10000,
        speed:600,
        slidesToShow:1,
        slidesToScroll:1,
        pauseOnHover:false,
        dots:true,
        pauseOnDotsHover:true,
        cssEase:'linear',
        draggable:false,
        nav: false,
        prevArrow: null,
        nextArrow: null, 
      });
      $('.c-benefit__list').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      arrows: true,
      dots: true,
      centerMode: true,
      variableWidth: true,
      infinite: true,
      focusOnSelect: true,
      cssEase: 'linear',
      touchMove: true,
      nav: false,
      prevArrow: null,
      nextArrow: null, 
      loop: true,
    });
    });