extends _layout/default

block vars
  -title        = 'JHL Home'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
  -slider       = true

block container
  .container-fluid
   .row
    .col-12
      // Slider main container
      .swiper-container
        // Additional required wrapper
        .swiper-wrapper
          // Slides
          .swiper-slide
            picture
             source(srcset=path+'assets/images/dinh-cu-my-en-3.avif')
             source(srcset=path+'assets/images/dinh-cu-my-en-3.webp')
             img(src=path+'assets/images/dinh-cu-my-en-3.jpg' alt="ĐỊNH CƯ Canada")
          .swiper-slide
            picture
             source(srcset=path+'assets/images/dinh-cu-canada.avif')
             source(srcset=path+'assets/images/dinh-cu-canada.webp')
             img(src=path+'assets/images/dinh-cu-canada.jpg' alt="ĐỊNH CƯ MỸ EB-3")
block script

   