extends _layout/default

block vars
  -title        = 'JHL Home'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
  -slider       = true
  -count        = true

block container
  section.c-event
    .c-event__count
      .container.container__inner
        .row  
          .col-md-6
            p.c-event__ttlc Đếm ngược đón chờ sự kiện của JHL
          .col-md-6 
            #countdown
              ul
                li
                  span#days
                  | Ngày
                li
                  span#hours
                  | Giờ
                li
                  span#minutes
                  | Phút
                li
                  span#seconds
                  | Giây
  
  section.c-intros.c-intros--sub.text-center.mx-auto
    .container.container__inner.padding-bottom
      .c-intros__inner.c-intros__inner--sub
        p.c-intros__date 30 THÁNG 1, 2021
        h1.c-intros__ttl.ttl.c-intros__ttl--sub EB3 - TƯƠNG LAI TRONG TẦM TAY
        a.c-slide__btn.btn.btn-radius0(href="#" ) TÌM HIỂU NGAY    
  section.c-event.padding-top13
    .container.container__inner
      .row
        .col-12 
        p.c-event__txt Trong tiêu chuẩn về thị thực nhập cư EB tại Hoa Kỳ, hiện có hạn ngạch là 140.000 thị thực nhập cư (có thẻ xanh) mỗi năm, trong đó 40.000 được dành cho các tiểu mục của thị thực EB3 (lao động có tay nghề, chuyên nghiệp hoặc công nhân…) Bên cạnh đó một lợi ích nữa cho các lao động có tay nghề, công nhân…là Các công ty Hoa Kỳ đối mặt với tình trạng thiếu lao động có thể bảo trợ cho các cá nhân nước ngoài có việc làm lâu dài tại Hoa Kỳ thông qua chương trình thị thực nhập cư dựa vào việc làm (EB) quy định bởi cơ quan Công Dân và Di Trú Hoa Kỳ (USCIS).

        p.c-event__txt  Nắm bắt được điều đó, nhằm giúp các cá nhân, Doanh nghiệp Việt Nam có được cơ hội về giấc mơ định cư tại Mĩ, tìm hiểu các chính sách mới, Chi nhánh Phòng Thương mại và Công nghiệp Việt Nam tại TP. Hồ Chí Minh (VCCI – HCM) phối hợp với công ty JHL tổ chức hội thảo "EB3 - Tương lai trong tầm tay"
        ul 
          li - Thời gian: Sáng Thứ Bảy, ngày 15/06/2019 (9:00 – 11:30).
          li - Địa điểm: Hội trường Lầu 10, Tòa nhà VCCI – HCM, số 171 Võ Thị Sáu, P.7, Q.3.
          li - Phí tham dự: Miễn phí
      .row.mt-5    
        .col-12.p-0 
          h2.c-event__ttl.ttl.padding-bottom NỘI DUNG CHƯƠNG TRÌNH
        .col-md-4.col-12.text-center
          img.mt-5.mb-5(src=path+'assets/images/content_event.jpg' alt="NỘI DUNG CHƯƠNG TRÌNH")
          
        .col-md-8 
          ul.c-event__list  
            li.c-event__item 
              span.c-event__num 1
              .c-event__content 
                p.c-event__title Giới thiệu về Chương trình Định cư Lao động diện EB-3
                p.c-event__txt Chương trình định cư Mỹ diện EB3 theo diện tay nghề dựa trên sự bảo lãnh của một doanh nghiệp (nhà tuyển dụng tại Mỹ). Visa EB3 được chính phủ Hoa Kỳ thông qua từ năm 1990 và được mệnh danh là  “con đường ngắn nhất” để bạn có thể đặt chân đến đất Mỹ.
            li.c-event__item 
              span.c-event__num 2
              .c-event__content 
                p.c-event__title Giới thiệu về Cơ hội công việc tại Hệ thống siêu thị bán lẻ H-Mart
                p.c-event__txt Cơ hội nghề nghiệp đa dạng, ổn định cùng thu nhập “chạm đỉnh” dành cho Lao động Phổ thông, dưới sự bảo lãnh của Tập đoàn Bán lẻ H-Mart - đối tác độc quyền của VivaConsulting.
            li.c-event__item 
              span.c-event__num 3
              .c-event__content 
                p.c-event__title Giải đáp thắc mắc và Tư vấn - đánh giá tình trạng hồ sơ
                p.c-event__txt Chuyên gia di trú sẽ giải đáp chi tiết từng trường hợp của mỗi khách hàng đặt câu hỏi trong Hội thảo. Ngoài ra, khách hàng có thể giao lưu cùng chuyên gia hoặc các tư vấn viên sau buổi hội thảo, hoặc đặt lịch hẹn để sắp xếp buổi tư vấn riêng vào khung giờ thích hợp.
  section.c-pinfo
    .container.container__inner
      .row
        .col-12        
          h2.c-pinfo__ttl.ttl.padding-top.mb-5 THÔNG TIN DIỄN GIẢ
          ul.c-pinfo__list.mb-5 
            li
              .c-pinfo__img
                img(src=path+'assets/images/job-ceo02.jpg' type="image/jpg" alt="Lê Nhật Hào")
              .c-pinfo__content
                p.c-pinfo__ttl.ttl Lê Nhật Hào
                p.c-pinfo__sub CEO
                p.c-pinfo__txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec massa commodo, pretium enim gravida, pulvinar libero. 
                 ul.c-pinfo__social
                  li 
                    a(href="" taget="_black")
                      img(src=path+"assets/images/logo-fb.png", alt="fb")
                  li 
                    a(href="" taget="_black")
                      img(src=path+"assets/images/logo-tw.png", alt="tw")
                  li 
                    a(href="" taget="_black")
                      img(src=path+"assets/images/logo-yt.png", alt="youtube")
            li
              .c-pinfo__img
                img(src=path+'assets/images/job-ceo02.jpg' type="image/jpg" alt="Lê Nhật Hào")
              .c-pinfo__content
                p.c-pinfo__ttl.ttl Lê Nhật Hào
                p.c-pinfo__sub CEO
                p.c-pinfo__txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec massa commodo, pretium enim gravida, pulvinar libero. 
                 ul.c-pinfo__social
                  li 
                    a(href="" taget="_black")
                      img(src=path+"assets/images/logo-fb.png", alt="fb")
                  li 
                    a(href="" taget="_black")
                      img(src=path+"assets/images/logo-tw.png", alt="tw")
                  li 
                    a(href="" taget="_black")
                      img(src=path+"assets/images/logo-yt.png", alt="youtube")
  section.c-submit.py-5
    .container.container__inner
      .row.c-submit__shadow
        .col-md-7.p-0
          img(src=path+'assets/images/img-submit.jpg' type="image/jpg" alt="ĐĂNG KÝ NHẬN TƯ VẤN")
        .col-md-5.py-4.align-self-center
           .c-submit__inner
            p.c-submit__ttl.ttl ĐĂNG KÝ NHẬN TƯ VẤN
            form.mt-3.mb-3
              .form-group
                input.form-control(type='text' placeholder='Tên')
              .form-group
                input.form-control(type='text' placeholder='Email')
              .form-group
                input.form-control(type='text' placeholder='Số điện thoại')
            button.btn.mt-4.d-block.mx-auto(type='submit') Đăng ký         
block script

    