extends _layout/default

block vars
  -title        = 'Tuyển dụng - JHL Home'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
  -slider       = false

block container
  .container.container__inner
    section.c-jintro.row.mt-5.align-items-center
      .col-md-6
        h2.c-jintro__ttl.ttl JHL TUYỂN DỤNG
        p.c-jintro__txt Đăng ký để gia nhập đội ngũ chuyên viên tư vấn tay nghề cao,
         | được đào tạo bài bản, tận hưởng đãi ngộ tuyệt vời và phát triển bản thân 
         | tối đa trong môi trường làm việc thân thiện.
        a.c-jintro__link.mt-3(href="#" )
          | Xem toàn bộ vị trí 
          span.gg-play-button
      .col-md-6
        picture
          source(srcset=path+'assets/images/jhl-job.avif' type="image/avif")
          source(srcset=path+'assets/images/jhl-job.webp' type="image/webp") 
          img(src=path+'assets/images/jhl-job.jpg' type="image/jpg" alt="JHL TUYỂN DỤNG")
  section.c-who
    .container.container__inner
      .row
        .col-md-6.col-md-offset-6.c-who__padding
          h3.c-who__ttl CHÚNG TÔI LÀ AI?
          p.c-who__txt JHL là công ty tư vấn Du học - Du lịch & Định cư tại Mỹ cùng Canada. 
            | Chúng tôi giúp khách hàng hiện thực hóa ước mơ của họ, được sống và làm việc 
            | tại hai quốc gia có chất lượng đời sống hàng đầu thế giới.
      .row
        .col-md-8.col-md-offset-4.c-who__padding--sub
          .row
            .col-12.mt-4.mb-5
              h3.c-who__ttl CHÚNG TÔI TÌM AI?
              p.c-who__txt Bạn. Chúng tôi đang tìm bạn, nếu như bạn là
                | một ứng viên chăm chỉ, có ý chí cầu tiến, khả năng xử lý 
                | tình huống nhanh nhạy, yêu thích và muốn phát triển bản thân
                | trong việc làm chủ nghệ thuật tư vấn khách hàng. Chúng tôi đánh
                | giá cao nếu bạn sở hữu những đặc điểm sau đây:
            .col-6.mb-5
              h4.c-who__ttl--sub  Làm việc vì đam mê
              p.c-who__txt Không ngừng rèn luyện để theo đuổi đam mê trở thành 
                | chuyên viên xuất sắc trong lĩnh vực, dù là tư vấn viên hay nhân 
                | viên tuyển dụng, mọi cơ hội đều rộng mở khi bạn yêu nghề.
            .col-6.mb-5
              h4.c-who__ttl--sub  Đam mê việc mình làm
              p.c-who__txt Khao khát tìm kiếm môi trường làm việc tích cực cùng đồng
                | nghiệp hết mình hỗ trợ, luôn đặt mục tiêu chung của tập thể lên hàng 
                | đầu nhằm đem đến trải nghiệm tuyệt vời cho mỗi thành viên.
            .col-6.mb-5
              h4.c-who__ttl--sub  Thẳng thắn, thành thật
              p.c-who__txt Trung thực là chìa khóa cốt lõi giúp bạn thành công ở bất cứ nghề 
                |nghiệp nào và thẳng thắn là cách tốt nhất để trở nên trung thực.
            .col-6.mb-5
              h4.c-who__ttl--sub  Có tâm, có tầm
              p.c-who__txt  Dịch vụ tại JHL đặt chữ tâm và chữ tín lên hàng đầu.
                | Vậy nên chúng tôi sẽ rất vui nếu tất cả thành
                | viên đều có chung hình mẫu lý tưởng mang đức tính tuyệt vời này.             

  section.c-ceo
    .container-fluid.p-0
      .row
        .col-md-6.p-0
          picture
            source(srcset=path+'assets/images/job-ceo.avif' type="image/avif")
            img(src=path+'assets/images/job-ceo.jpg' type="image/jpg" alt="Lê Nhật Hào")
        .col-md-6.c-ceo__bg
          h5.c-ceo__ttl Lê Nhật Hào
          p.c-ceo__sub CEO
          p.c-ceo__txt Điều tôi thích nhất khi làm việc tại JHL là những 
           | người đồng nghiệp tuyệt vời. Mỗi một khách hàng đều là ưu tiên hàng đầu 
           | với chúng tôi. Đội ngũ JHL luôn cùng nhau phối hợp hiệu quả nhất để đem đến trải nghiệm tốt nhất 
           | cho khách hàng thông qua chất lượng dịch vụ mà chúng tôi cung cấp.

  section.c-why
    .container.container__why
      .row
        .col-12
          h2.c-why__ttl.ttl.text-center THÀNH TỰU CỦA JHL
        .col-md-3.col-6
          p.c-why__num 3+
          picture
            source(srcset=path+'assets/images/icon-job04.webp' type="image/webp")
            img(src=path+'assets/images/icon-job04.png' type="image/png" alt="Visa Đầu Tư Định Cư EB3 đã và đang được thụ lý")
          p.c-why__txt Năm đồng hành cùng khách hàng thực hiện ước mơ di trú
        .col-md-3.col-6  
          p.c-why__num 600+
          picture
            source(srcset=path+'assets/images/icon__book.webp'  type="image/webp")
            img(src=path+'assets/images/icon__book.png' type="image/png" alt="Hồ sơ di trú thành công nộp vào Sở di trú Mỹ")
          p.c-why__txt Hồ sơ di trú thành công toàn cầu
        .col-md-3.col-6  
          p.c-why__num 55
          picture
            source(srcset=path+'assets/images/icon-job05.webp' type="image/webp")
            img(src=path+'assets/images/icon-job05.png' type="image/png" alt="Thường trú nhân và gia đình hiện thực hóa ước mơ định cư cùng JHL")
          p.c-why__txt Nhân viên cùng gắn bó xây dựng và phát triển
        .col-md-3.col-6  
          p.c-why__num 35
          picture
            source(srcset=path+'assets/images/icon-job06.webp' type="image/webp")
            img(src=path+'assets/images/icon-job06.png' type="image/png" alt="Thời gian chấp nhận hồ sơ EB-3 kỷ lục") 
          p.c-why__txt  Chuyên viên tư vấn tận tâm, giàu kinh nghiệm    
  section.c-trust.d-none
    .container
      .row
        .col-10.mx-auto.text-center.mb-5
          h2.ttl.c-trust__ttl QUYỀN LỢI CỦA KHÁCH HÀNG LÀ ƯU TIÊN HÀNG ĐẦU CỦA JHL     
        .swiper-container.customer-swiper.mt-4
          .swiper-wrapper
            .swiper-slide.text-center
              img.c-trust__img(src=path+'assets/images/customer_03.jpg' type="image/jpg")
              .c-trust__content.position-relative
                img.c-trust__tag.position-absolute(src=path+'assets/images/tag.png'  type="image/png")
                p.c-trust__name Nguyễn Thanh Toàn 
                p.c-trust__local Định cư EB-3
                p.c-trust__txt Cả gia đình tôi đã đến Mỹ được hơn 1 tháng mà tôi vẫn thấy lâng lâng vì vui sướng. Tôi có việc làm ngay khi đến đây và con tôi được đi học miễn phí. Các thủ tục mướn nhà, đăng ký việc làm, hòa nhập cộng đồng... đều được JHL quan tâm nhiệt tình. Thật sự cảm ơn JHL rất nhiều vì đã hỗ trợ gia đình tôi chu đáo.
            .swiper-slide.text-center
              img.c-trust__img(src=path+'assets/images/customer_03.jpg' type="image/jpg")
              .c-trust__content.position-relative
                img.c-trust__tag.position-absolute(src=path+'assets/images/tag.png'  type="image/png")
                p.c-trust__name Nguyễn Thanh Toàn 
                p.c-trust__local Định cư EB-3
                p.c-trust__txt Cả gia đình tôi đã đến Mỹ được hơn 1 tháng mà tôi vẫn thấy lâng lâng vì vui sướng. Tôi có việc làm ngay khi đến đây và con tôi được đi học miễn phí. Các thủ tục mướn nhà, đăng ký việc làm, hòa nhập cộng đồng... đều được JHL quan tâm nhiệt tình. Thật sự cảm ơn JHL rất nhiều vì đã hỗ trợ gia đình tôi chu đáo.
            .swiper-slide.text-center
              img.c-trust__img(src=path+'assets/images/customer_03.jpg' type="image/jpg")
              .c-trust__content.position-relative
                img.c-trust__tag.position-absolute(src=path+'assets/images/tag.png'  type="image/png")
                p.c-trust__name Nguyễn Thanh Toàn 
                p.c-trust__local Định cư EB-3
                p.c-trust__txt Cả gia đình tôi đã đến Mỹ được hơn 1 tháng mà tôi vẫn thấy lâng lâng vì vui sướng. Tôi có việc làm ngay khi đến đây và con tôi được đi học miễn phí. Các thủ tục mướn nhà, đăng ký việc làm, hòa nhập cộng đồng... đều được JHL quan tâm nhiệt tình. Thật sự cảm ơn JHL rất nhiều vì đã hỗ trợ gia đình tôi chu đáo.
          // Add Pagination
          .swiper-pagination    
  section.c-story
    .container.container__inner
      .row
        .col-md-6.col-12.c-story__inner
          h3.c-story__ttl.ttl CÂU CHUYỆN THÀNH CÔNG TỪ KHÁCH HÀNG JHL
          p.c-story__sub Được sống ở Canada đã là ước <br> mơ từ bé của tôi.
          p.c-story__text Khi quyết tâm thực hiện ước mơ này tôi cũng gặp kha khá nhiều trở ngại, mà trước nhất là đắn đo lớn nhất trong lòng. Bởi vì trước đây tôi chưa từng đi du lịch Canada hay châu Mỹ, hơn thế nữa tôi lại...
          a.c-story__btn.btn(href="#" ) Xem thêm
  section.c-news.py-5.p-sm-3
    .container
      .row
        .col-12
          h2.ttl.c-news__ttl.text-center.mb-5 TIN TỨC & SỰ KIỆN
        .col-md-4.col-6.mt-3
          .card.shadow-sm.m-lg-5.m-md-2
            img(src=path+'assets/images/news__img.jpg' type="image/jpg" alt="news")
            .card-body.p-md-4.p-2
              h4.c-news__name.mb-3 Lorem ipsum dolor sit amet consectetur adipiscing
              p.card-text.c-news__txt
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultricies turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .d-flex.justify-content-between.align-items-center.mt-4
                p.c-news__time 23, April 2021
                a.c-news__btn.btn(href="#" ) Xem thêm
        .col-md-4.col-6.mt-3
          .card.shadow-sm.m-lg-5.m-md-2
            img(src=path+'assets/images/news__img.jpg' type="image/jpg" alt="news")
            .card-body.p-md-4.p-2
              h4.c-news__name.mb-3 Lorem ipsum dolor sit amet consectetur adipiscing
              p.card-text.c-news__txt
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultricies turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .d-flex.justify-content-between.align-items-center.mt-4
                p.c-news__time 23, April 2021
                a.c-news__btn.btn(href="#" ) Xem thêm
        .col-md-4.col-6.mt-3.mx-auto
          .card.shadow-sm.m-lg-5.m-md-2
            img(src=path+'assets/images/news__img.jpg' type="image/jpg" alt="news")
            .card-body.p-md-4.p-2
              h4.c-news__name.mb-3 Lorem ipsum dolor sit amet consectetur adipiscing
              p.card-text.c-news__txt
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ultricies turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .d-flex.justify-content-between.align-items-center.mt-4
                p.c-news__time 23, April 2021
                a.c-news__btn.btn(href="#" ) Xem thêm
  section.c-submit.py-5
    .container
      .row.c-submit__shadow
        .col-md-7.p-0
          img(src=path+'assets/images/img-submit.jpg' type="image/jpg" alt="ĐĂNG KÝ NHẬN TƯ VẤN")
        .col-md-5.py-4.align-self-center
           .c-submit__inner
            p.c-submit__ttl.ttl ĐĂNG KÝ NHẬN TƯ VẤN
            form.mt-3.mb-3
              .form-group
                input.form-control(type='text' placeholder='Tên')
              .form-group
                input.form-control(type='text' placeholder='Email')
              .form-group
                input.form-control(type='text' placeholder='Số điện thoại')
            button.btn.mt-4.d-block.mx-auto(type='submit') Đăng ký                
block script

   