nav#navbar_main.mobile-offcanvas.navbar.navbar-expand-md.pt-0.pb-0
  .offcanvas-header.container
    button.btn-close.float-end
  .m-header
    .container
      .m-header__top
          .m-header__logo 
            a(href="/")
              img(src=path+'assets/images/jhl_logo.png', alt="JHL logo" height="97")
          ul.m-header__info 
            li 
              img(src=path+'assets/images/map-marker.png', alt="map maker")
              .m-header__info--inner 
                p Lầu 8, 123 Lý Chính Thắng,
                P Phường 7, Quận 3, TP. HCM
            li 
              img(src=path+'assets/images/map-marker.png', alt="map maker")
              .m-header__info--inner 
                p 0909.914.439 – 0704.726.988
                P Mon - Sun (9 am - 5:30 pm)   
    .m-header__line 
      .container
        span      
    .m-header__bottom.p-0
      .container 
        ul.m-header__menu
          li.is_active
            a(href=path+'/') Trang chủ
          li
            a(href=path+'service.html') Định cư quốc tế
          li.dropdown
            a(href='#')
              | Giới thiệu  
              svg(width='15' height='15' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M10.5858 6.34317L12 4.92896L19.0711 12L12 19.0711L10.5858 17.6569L16.2427 12L10.5858 6.34317Z' fill='currentColor')
 
            ul.dropdown-menu
              li
                a(href=path+'about-us.html') Về HJL
              li
                a(href=path+'cau-chuyen-thanh-cong.html') Câu chuyện thành công
              li
                a(href=path+'tuyen-dung.html') Tuyển dụng            
          li.dropdown
            a(href='#')
              | Tin tức & sự kiện 
              svg(width='15' height='15' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M10.5858 6.34317L12 4.92896L19.0711 12L12 19.0711L10.5858 17.6569L16.2427 12L10.5858 6.34317Z' fill='currentColor')
            ul.dropdown-menu
              li
                a(href=path+'blog.html') Tin tức
              li
                a(href=path+'su-kien-tong.html') Sự kiện             
          li
            a.nav-link(href=path+'lien-he.html')  Liên hệ

        ul.m-header__mess 
          li 
            a(href="mailto:infojhlimmigration@gmail.com") 
              img(src=path+'assets/images/icon_mess.png', alt="chat")    
          li 
            a(href="https://www.messenger.com/t/tuvandinhcuJHL", target="_blank") 
              img(src=path+'assets/images/icon_chat.png', alt="chat") 
span.screen-darken
nav.d-flex.d-md-none.justify-content-between.align-items-center.navbar.navbar__mobile
  a.navbar-brand(href='/') 
      picture
       img(src=path+'assets/images/jhl_logo.png' alt="JHL logo" height="54")
  a.nav_menu.p-3(data-trigger='navbar_main') 
    i.gg-menu
span.screen-darken 