nav#navbar_main.mobile-offcanvas.navbar.navbar-expand-md
  .container
    .offcanvas-header
      button.btn-close.float-end
    a.navbar-brand(href='#')
      picture
       source(srcset=path+'assets/images/jhl_logo.avif' height="54")
       source(srcset=path+'assets/images/jhl_logo.webp' height="54")
       source(srcset=path+'assets/images/jhl_logo.jpg' height="54")
       img(src=path+'assets/images/jhl_logo.png' alt="JHL logo" height="54")
    ul.navbar-nav.w-100.justify-content-between
      li.nav-item.active
        a.nav-link(href='#') Định cư quốc tế 
      li.nav-item
        a.nav-link(href='#')  Giới thiệu 
      li.nav-item
        a.nav-link(href='#')  Tin tức & sự kiện   
      li.nav-item
        a.nav-link(href='#')  Liên hệ
span.screen-darken
nav.d-flex.d-md-none.justify-content-between.align-items-center.navbar.navbar__mobile
  a.navbar-brand(href='#') 
      picture
       source(srcset=path+'assets/images/jhl_logo.avif' height="54")
       source(srcset=path+'assets/images/jhl_logo.webp' height="54")
       source(srcset=path+'assets/images/jhl_logo.jpg' height="54")
       img(src=path+'assets/images/jhl_logo.png' alt="JHL logo" height="54")
  a.nav_menu.p-3(data-trigger='navbar_main') 
    i.gg-menu
span.screen-darken 