nav#navbar_main.mobile-offcanvas.navbar.navbar-expand-md.pt-0.pb-0
  .offcanvas-header.container
    button.btn-close.float-end
  .m-header
    .container
      .m-header__top
          .m-header__logo 
            a(href)
              img(src=path+'assets/images/jhl_logo.png', alt="JHL logo" height="97")
          ul.m-header__info 
            li 
              img(src=path+'assets/images/map-marker.png', alt="map maker")
              .m-header__info--inner 
                p Lầu 8, 123 Lý Chính Thắng,
                P Phường 7, Quận 3, TP. HCM
            li 
              img(src=path+'assets/images/map-marker.png', alt="map maker")
              .m-header__info--inner 
                p 0909.914.439 – 0704.726.988
                P Mon - Sun (9 am - 5:30 pm)   
    .m-header__line 
      .container
        span      
    .m-header__bottom.p-0
      .container 
        ul.m-header__menu
          li.is_active
            a(href=path+'/') Trang chủ
          li
            a(href=path+'service.html') Định cư quốc tế
          li
            a(href=path+'service.html') Định cư quốc tế 
          li
            a(href=path+'about-us.html')  Giới thiệu 
          li
            a Tin tức & sự kiện   
          li
            a.nav-link(href='/tuyen-dung.html')  Liên hệ
        ul.m-header__mess 
          li 
            a(href) 
              img(src=path+'assets/images/icon_mess.png', alt="chat")    
          li 
            a(href) 
              img(src=path+'assets/images/icon_chat.png', alt="chat") 
span.screen-darken
nav.d-flex.d-md-none.justify-content-between.align-items-center.navbar.navbar__mobile
  a.navbar-brand(href='#') 
      picture
       img(src=path+'assets/images/jhl_logo.png' alt="JHL logo" height="54")
  a.nav_menu.p-3(data-trigger='navbar_main') 
    i.gg-menu
span.screen-darken 